!!!
%table
  %thead
    %tr
  %tbody
    %tr
      = link_to 'マイページ', mypage_show_path, class: 'btn btn-default btn-black'
      = link_to 'カレンダー', meetings_path, class: 'btn btn-default btn-black'
      = link_to 'グラフ', graff_show_path, class: 'btn btn-default btn-black'
  %li
    =input size="5" autocomplete="off" type="text" name="var_a" id="var_a" value="" class="text"
      
      
      
    
   