.top-hero-wrapper.text-center
  .container.top-hero-container
    %h1.text-white You can make a body
    %h2.text-white If you lose wight,what kind of future will it be?
    .row
      .col-md-offset-3.col-md-3
        = link_to 'Sign up', new_user_path, class: 'btn btn-block btn-white'
      .col-md-3
        = link_to 'Log in', login_path,class: 'btn btn-block btn-white'
