.mypage-wrapper 
  .users-new-container
= link_to 'カレンダー', meetings_path, class: 'btn btn-default btn-black'
= link_to '体重グラフ', graff_show_path, class: 'btn btn-default btn-black'
=link_to '体脂肪グラフ', fat_show_path, class: 'btn btn-default btn-black'
=link_to 'ご褒美', gift_show_path,class: 'btn btn-default btn-black'
