.top-hero-wrapper.text-center
  .container.top-hero-container
.row
.col-md-offset-3.col-md-9
= link_to 'カレンダー', meetings_path, class: 'btn btn-block btn-white'

.top-hero-wrapper.text-center
  .container.top-hero-container
.row
.col-md-offset-9.col-md-3
-#= link_to 'グラフ', graff_index_path, class: 'btn btn-block btn-white'
